 @import url("commonCss.css");
.container {
  display: grid;
  grid-template-rows: auto 3fr auto;
  background-color: #eee4d9;
  border-radius: 0.5rem;
  padding: 1px;
  min-height: 100vh;
}
/*** header ***/
.header{
  top: 0;
  position: sticky;
  margin: 0 0.1rem;
  padding: 0.1rem 0;
  background: #025202;
  display: grid;
  grid-template-areas: "home logo infosection";
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  border-radius: 0.5rem;
}
.logo {  
  grid-area: logo;
  text-align: center;
  font-Size:48px;
  margin: 0px;
  padding: 0px;
}
.logo, .contactus-anchor, .home-anchor{
  fill:#ffd700;
  font-family:Vijaya;
  color:#ffd700;
  border-color:Black;
  font-style:italic;
  text-shadow: 1px 1px 3px black;
}
.home, .infosection{
  display: grid;
  align-content: center;
}
.home{
  grid-area: home;
  padding: 0 0 0 1rem;
}
.infosection{
  grid-area: infosection;
  text-align: right;
  padding: 0 1rem 0 0;
}
.home-anchor{
  text-decoration: none;
  outline:none;
  font-size: 24px;
}
.contactus-anchor{  
  text-decoration: none;
}
/*** End of header ***/
/*** Container hero section ***/
.hero {
  height: fit-content;
  margin: 0px;
  padding: 0.1rem;
  border:solid 1px #376837;
  border-radius: 1rem;
}
.hero-img{
  width: 100%;
  border-radius: 1rem;
}
.main{
  display: grid;
  grid-template-areas: "main-col-0 main-col-1 main-col-2";
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
.main > .main-col-0, .main-col-1, .main-col-2{
  margin: 0.5rem;
  border: solid 2px gray;
  border-radius: 1rem;
  text-align: center;
}
.main-col-0 {
   grid-area: main-col-0;
}
.main-col-1 {
    grid-area: main-col-1;
}
.main-col-2 {
    grid-area: main-col-2;
  }
.item{
  display: grid;
  margin: 0.5rem;
  align-items: center;
  border-bottom: solid 2px #b4acac;
  grid-template-columns: auto;
}
.item > a{
  text-decoration: none;
}
.item p{
  font-family: "BrandonGrotesque", serif;
  font-size: 24px;
}
.item > a > img{
  width: 350px;
  height: 350px;
}
.buy-btn{
  background-color: #025202;
  border-color: #ffd700;
  padding: 0.5em 3em;
  font-size: 16px;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 0;
  visibility: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item:hover .buy-btn {
  visibility: visible;
}
/** End of index main section. **/
.contactus-main .btn, button{
  background-color:Black;
  border-color: #ffd700;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1em 0.5em;
  cursor: pointer;
  border-radius: 1em;
}
/** Contact us main section. **/
.contactus-main{
 min-height: 100vh;
}
  form {
  border-radius: 5px;
  padding: 20px;
}
label {
  display: block;
}
.contactus-main input, select, #subject {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid gray;
  background-color: #eee4d9;
  border-radius: 2px;
  box-sizing: border-box;
}
input[type=submit] {
  width: fit-content;
}
.star{
  color: red;
}
 #title-new{
    width: fit-content;
    visibility: hidden;
    opacity: 0.0;
    transition: all 0.8s ease-in-out ;
    margin: 0px;
    color: #bcb380;
    background-color: rgb(34, 36, 34);
    border: 2px solid #ffd700;
    padding: 0.5rem;
    vertical-align: middle;
    border-radius: 0.3rem;
 }
input[type=submit]:hover {
  background-color: gray;
}
.contactus-main .btn{
  float: right;
}
/** End of contact us main section. **/
/** Socialmedia section. **/
.socialmedia{
  text-align: center;
  }
  .socialmedia a{
    color: black;
  }
/** End of socialmedia section. **/
/** About me section. **/
.singlePage-main{
  display: grid;
  grid-template-areas: "singlePage-main-col-0 singlePage-main-col-1";
  grid-template-columns: 1fr 3fr;
  gap: 12px;
  margin: 0.1em;
  border: solid 2px gray;
  border-radius: 0.5rem;
}
.singlePage-main-col-0 {
   grid-area: singlePage-main-col-0;
   border-right: solid 1px gray;
   display: flex;
   justify-content: center;
}
.singlePage-div section, .singlePage-div h3, .my-weather{
  margin: 2em 0;  
}
.singlePage-main-col-1 {
  grid-area: singlePage-main-col-1;
  min-height: 100vh;
  font-size: 18px;
  padding: 1em;
  font-family:"BrandonGrotesque", serif;
  }
.singlePage-main-col-1 div{
  margin: 0 0 1em 0;
}
/** End of about me section. **/
/** My weather section. **/
.my-weather input {
  padding: 12px;
  display: block;
  border: 1px solid gray;
  background-color: #eee4d9;
  border-radius: 2px;
  box-sizing: border-box;
  border-radius: 1em;
}
#getWeather-btn{
  margin: 0.5em 0;
 padding: 0.5em 1em;
}
#city-lable, #weather-temp{
  display: inline-block;
}
#weather-temp{
  margin: 0 0 0 0.5em;
}
#weather-img{
  width: 50px;
  height: 50px;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
/** End of weather section. **/
/** Thanks section. **/
.thanks-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.thanks-btn a{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}
/** End of thanks section.**/
/** Footer section. **/
.footer section{
    margin: 0.2em;
    padding: 1em;
    border-top: solid 2px #b4acac;
    text-align: center;
    box-shadow: 1px 1px 5px 1px #888888;
}